.auth-footer {
    margin-top: 2rem;
    text-align: center;
}

.auth-footer-button {
    color: #d1d5db;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 0.875rem;
}

.auth-footer-button:hover {
    color: #fff;
}

